@mixin badge {
  padding: 5px;
  color: #fff;
}
.c-badge {
  &--primary {
    @include badge;
    background: $color_green;
  }
  &--required {
    @include badge;
    background: #e66b6b;
    padding: 0 10px;
    margin-left: $space_xl;
  }
}
