@import "../../config/mixin";
@import "../../config/variable";

.c-btn {
  &--primary {
    @include btn;
    color: #fff;
    background: $color_green;
  }
  &--submit {
    @include btn;
    color: #fff;
    background: $color_green;
    //border: 1px #444 solid;
    width: 100%;
    padding: 10px;
    outline: none;
  }
  &--large {
    padding: 15px 30px;
  }
  &--warning {
    @include btn;
    color: #fff;
    background: #ff6868;
    width: 45%;
  }
  &--cancel {
    @include btn;
    color: #fff;
    background: #c0c0c0;
    width: 45%;
  }
}
