@import "../../config/mixin";
@import "../../config/variable";

.c-btn {
  &--primary {
    @include btn;
    color: #fff;
    background: $color_green;
    &.is-large {
      width: 100%;
      padding: 10px;
      outline: none;
      border-radius: 5px;
    }
  }
  &--submit {
    @include btn;
    color: #fff;
    background: $color_green;
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  &--large {
    padding: 15px 30px;
  }
  &--warning {
    @include btn;
    color: #fff;
    background: #ff6868;
    width: 45%;
    outline : none;
  }
  &--cancel {
    @include btn;
    color: #fff;
    background: #c0c0c0;
    width: 45%;
  }
  &--login {
    color : #444;
    letter-spacing: 1px;
    padding : 10px;
  }
}
