@import "../config/variable";

.c-container{
    width: 1200px;
    margin: 0 auto;
    padding-top: $space_3l * 2;
    padding-bottom: $space_3l * 3;
    &__title{
        text-align: center;
        margin-bottom: $space_3l;
        font-size: $font-size_3l;
    }
    &__body{
        text-align: center;
    }
}