@import "../config/variable";

.c-container {
  width: 1200px;
  margin: 0 auto;
  padding-top: $space_3l * 2;
  padding-bottom: $space_3l * 3;
  &__title {
    text-align: center;
    margin-bottom: $space_3l;
    font-size: $font-size_3l;
  }
  &__body {
    background: #fff;
    min-height: 400px;
    padding: $space_3l;
    border: 1px solid #ccc;
  }
  &__heading {
    text-align: center;
    font-size: 28px;
  }
  &__text--passive {
    padding: 20px 0;
    text-align: center;
    font-size: 16px;
  }
}
