.edit {
  position: relative;
}

.search {
  position: absolute;
}

.delete {
  color: #e45252;
  //top: 20%;
  //right: 5%;
  position: absolute;
}

.search {
  position: absolute;
  fill: #fff;
  width: 35px;
  top: 10%;
  left: 15%;
}
