@import "../../config/variable";

.c-panel {
  width: calc(25% - #{$space_l});
  margin-right: $space_l;
  margin-bottom: $space_l;
  transition: all 0.5s;
  position: relative;
  //border: 1px #a0a0a0 solid;
  padding: 0 0 $space_l;
  box-shadow: 0 0 4px #ddd;
  //background: #e0f5e4;
  &__img {
    height: 200px;
    position: relative;
    & img {
      position: absolute;
      // max-width: 100%;
      // max-height: 100%;
      width: 100%;
      height: 100%;
      left: 0;
      //right: 0;
      top: 0;
      //bottom: 0;
      //margin: auto;
      //object-fit: cover;
    }
  }
  &__body {
    padding: $space_s;
  }
  &__title {
    padding: $space_s;
    //text-align: center;
    text-overflow: ellipsis;
  }
  &__price {
    position: absolute;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    margin: 0 auto;
    width: 40%;
    left: 0;
    bottom: 30%;
    padding: $space_s $space_m;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
