.p-bord {
  width: $site-width;
  margin: 0 auto;
  display: flex;
  padding: $space_3l*2 0;
  justify-content: space-between;
  & .p-product{
    width: 40%;
    padding: 0;
    margin: 0;
    &__img {
      width: 400px;
      margin: 0 auto;
      & img {
        width: 400px;
        height: 400px;
      }
    }
    &__info {
      margin-top: $space_xxl;

    }
    & form{
      width: 400px;
      margin: 0 auto;
      padding-top: $space_xl;
    }
  }
}