.p-mypage {
  display: flex;
  justify-content: space-between;
  padding-top: $space_3l * 2;
  padding-bottom: $space_3l * 3;
  width: 1200px;
  margin: 0 auto;
  &__sidebar {
    text-align: center;
    width: 25%;
    height: 100%;
    background: #fff;
  }
  &__menu {
    padding: 15px;
  }
  &__link {
    display: block;
    padding: 15px;
    color: #444;
  }
  &__main {
    background: #fff;
    width: 70%;
  }
  &__contents {
    padding: $space_l;
  }
  &__img {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: $space_xxl 0;
    & img {
      height: 200px;
      width: 200px;
      border-radius: 200px;
    }
    &--small {
      position: relative;
      & img {
        width: 50px;
        height: 50px;
        border-radius: 50px;
      }
    }
  }
  &__name {
    text-align: center;
    font-size: 1.5rem;
    padding: 0 $space_l;
  }
  &__intro {
    padding: $space_l $space_xl;
    &__text {
      background: #f6f5f4;
      min-height: 150px;
      padding: $space_m;
    }
  }
  &__tab {
    padding: $space_l;
    font-size: $font-size_l;
    display: flex;
    justify-content: space-between;
    &__item {
      width: 30%;
      text-align: center;
      background: #f6f5f4;
      padding: $space_s;
      cursor: pointer;
      &.is-active {
        background: $color_green;
        color: #fff;
      }
    }
    &__contents {
      display: none;
      &.is-show {
        display: block;
      }
    }
  }
  &__text {
    padding: 0 $space_l;
    text-align: center;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: $space_l 0 $space_l $space_l;
    margin-right: -$space_l;
  }
  &__home__img {
    position: relative;
    & img {
      width: 50px;
      height: 50px;
      border-radius: 50px;
    }
  }
}
