.p-profile {
  background: #fff;
  width: 70%;
  margin: 0 auto;
  padding-top: $space_3l * 2;
  border: 1px solid #ccc;
  &__img {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
    & img {
      height: 200px;
      width: 200px;
      border-radius: 200px;
    }
    &--small{
      width : 5%;
      position : relative;
      & img { 
        width : 60px;
        height : 60px;
        border-radius: 50%;
      }
    }
  }
  &__name {
    text-align: center;
    font-size: 1.5rem;
    padding: 0 15px;
  }
  &__intro {
    padding: 15px;
    margin-bottom: $space_xl;
    &__text {
      background: #f6f5f4;
      min-height: 150px;
      padding: 15px;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: $space_l 0 $space_l $space_l;
    margin-right: -$space_l;
  }
  &__heading{
    padding: $space_l $space_l 0;
  }
  &__home__img {
    position: relative;
    & img {
      width: 50px;
      height: 50px;
      border-radius: 50px;
    }
  }
}
