.p-product {
  width: $site-width;
  padding: $space_3l * 2 0 $space_3l;
  margin: 0 auto;
  &__info {
    display: flex;
    justify-content: space-between;
  }
  &__view {
    width: 50%;
  }
  &__desc {
    width: 40%;
    position: relative;
  }
  &__image {
    margin-bottom: $space_xxl;
    & img {
      height: 400px;
    }
  }
  &__images {
    margin-top: $space_xxl;
    overflow: hidden;
    & p {
      padding-bottom: $space_m;
    }
    & img {
      float: left;
      width: 100px;
      height: 100px;
    }
  }
  &__name {
    margin-top: $space_3l;
    font-size: $font-size_3l;
  }
  &__price {
    margin-top: $space_xxl;
    font-size: $space_3l;
  }
  &__comment {
    margin-top: $space_3l;
    min-height: 100px;
    &__heading {
      border-bottom: 1px solid #ccc;
      padding-bottom: $space_m;
    }
    &__inner {
      margin-top: $space_l;
      line-height: 1.8;
    }
  }
  &__seller {
    margin-top: $space_3l;
    position: relative;
    & a {
      color: $color_green;
    }
  }
  &__fav {
    margin-top: $space_xxl;
    & span {
      font-size: $font-size_xl;
    }
  }
  & .c-btn--primary {
    margin-top: $space_3l;
    width: 100%;
    padding: $space_m;
    font-size: $font-size_xl;
  }
  & .c-btn--submit {
    @include btn;
    color: #fff;
    background: $color_green;
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 5px;
  }
  &__editor {
    position: absolute;
    top: -1.5%;
    right: 2%;
  }
  &__state {
    width: 100%;
    &--primary {
      background: #1da1f2;
      color: #fff;
      border-radius: 5px;
      text-align: center;
      padding: $space_m;
      font-size: $font-size_xl;
    }
    &--prohibit {
      background: #acaaaa;
      color: #fff;
      border-radius: 5px;
      text-align: center;
      padding: $space_m;
      font-size: $font-size_xl;
    }
  }
  &__msg {
    //text-align: center;
    padding: $space_m;
    font-size: $font-size_s;
  }
}
